[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.9"
gunicorn = "*"
psycopg2-binary = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask = "==2.3.3"
flask-sqlalchemy = "==3.0.5"
flask-migrate = "==4.0.5"
flask-cors = "==4.0.0"
pyjwt = "==2.8.0"
werkzeug = "==2.3.7"
requests = "==2.31.0"
faker = "==19.6.2"
python-dotenv = "*"

[requires]
python_full_version = "3.8.13"

[dev-packages]
